<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>console</headerType>
  <jar>C:\Projects\SpringBoot_Thymeleaf_Demo\target\SpringBoot_Thymeleaf_Demo.jar</jar>
  <outfile>C:\Temp\SpringBootStandAlone\SpringBoot_Standalone_Demo.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>true</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Projects\SpringBoot_Thymeleaf_Demo\autobot.ico</icon>
  <jre>
    <path>jre</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.4</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>