<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}" />

        <link rel="stylesheet" th:href="@{css/style.css}">
        
        <!-- Order is important: jquery, popper, bootstrap -->
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
        <script type="text/javascript">
        
        window.onload = function(){
			showAndHide2(0);  //make an initial index selection
		}
        
        //It only displays the assoicated category section when a selection on the category is made.
        //The page initially lists all the category sections.  By using this trick, it creates a dynamic update visual effect.
        //In addition, hiden form elements (style.display:none) can still preserve values after form submission. 
        function showAndHide(selectedIndex){
			//alert(selectedIndex);
			
			var selectedCategoryId = this.categorySelection.options[selectedIndex].value;
			
			//alert(selectedCategoryId);
			
			var elements = document.getElementsByClassName("categoryClass");
			
			for(var i = 0; i<elements.length; i++){
				var element = elements[i];
				
				if(selectedCategoryId == element.id){
					element.style.display = '';
				} else{
					element.style.display = 'none';
				}
			}
		}
		
		//Jquery
		function showAndHide2(selectedIndex){
			//alert(selectedIndex);
			
			var selectedCategoryId = this.categorySelection.options[selectedIndex].value;
			
			//alert(selectedCategoryId);
			
			//var elements = $('.categoryClass[id*="'+selectedCategoryId+'"]');
			
			//console.log(elements);
			//alert(elements.attr('id'));
			
			$('.categoryClass[id*="'+selectedCategoryId+'"]').css('display', '');
			$('.categoryClass[id!="'+selectedCategoryId+'"]').css('display', 'none');
		}
		
        </script>
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">New User</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="row">
                        	<fieldset>
                        		<legend>Access Rights</legend>
                        		
                        		<div th:each="labelIdPair, itemStat: ${user.labelIdPairList}">
                        			[[${labelIdPair.label}]]: 
                        			
                        			<!-- Thymeleaf: bind a field of an item in a collection with the form field -->
                        			<input type="hidden" th:field="${user.labelIdPairList[__${itemStat.index}__].label}"/>
                        			
                        			<div class="form-group">
                        				<div class="form-check form-check-inline">
	                        				<th:block th:each="accessDic: ${user.accessDictionaryList}">
	                        					&nbsp;&nbsp;
	                        					<!-- Thymeleaf: bind a field of an item in a collection with the form field -->
	                        					<input class="form-check-input" type="radio" th:field="${user.labelIdPairList[__${itemStat.index}__].id}" th:value="${accessDic.id}" th:id="|${labelIdPair.label}${accessDic.access}|"/>
	                        					<label class="form-check-label" th:for="|${labelIdPair.label}${accessDic.access}|">[[${accessDic.access}]]</label>
	                        				</th:block>
                        				</div>
                        			</div>
                        			
                        		</div>
                        	</fieldset>
                        </div>
                        
                        
                        <div class="row">
                        	<fieldset>
                        		<legend>Access Category and Rights Selection</legend>
                        		
                        		<select id="categorySelection" class="form-control" th:onChange="showAndHide2(this.selectedIndex);">
                        			<option th:each="categoryOpt: ${user.accessCategoryList}" th:value="${categoryOpt.categoryId}" th:text="${categoryOpt.categoryName}" />
                        		</select>
                        		
                        		<div th:each="category, itemStat1: ${user.accessCategoryList}" th:id="${category.categoryId}" class="categoryClass">
                        			[[${category.categoryName}]]: 
	                        		
	                        		<!-- Thymeleaf: bind a field of an item in a collection with the form field -->
	                        		<input type="hidden" th:field="${user.accessCategoryList[__${itemStat1.index}__].categoryId}"/>
	                        		<input type="hidden" th:field="${user.accessCategoryList[__${itemStat1.index}__].categoryName}"/>
	                        			
	                        		<div th:each="labelIdPair, itemStat2: ${category.labelIdPairList}">
	                        			[[${labelIdPair.label}]]: 
	                        			
	                        			<!-- Thymeleaf: bind a field of an item in a collection with the form field -->
	                        			<input type="hidden" th:field="${user.accessCategoryList[__${itemStat1.index}__].labelIdPairList[__${itemStat2.index}__].label}"/>
	                        			<input type="hidden" th:field="${user.accessCategoryList[__${itemStat1.index}__].labelIdPairList[__${itemStat2.index}__].categoryName}"/>
	                        			
	                        			<div class="form-group">
	                        				<div class="form-check form-check-inline">
		                        				<th:block th:each="accessDic: ${user.accessDictionaryList}">
		                        					&nbsp;&nbsp;
		                        					<!-- Thymeleaf: bind a field of an item in a collection with the form field -->
		                        					<input class="form-check-input" type="radio" th:field="${user.accessCategoryList[__${itemStat1.index}__].labelIdPairList[__${itemStat2.index}__].id}" th:value="${accessDic.id}" th:id="|${category.categoryName}${labelIdPair.label}${accessDic.access}|"/>
		                        					<label class="form-check-label" th:for="|${category.categoryName}${labelIdPair.label}${accessDic.access}|">[[${accessDic.access}]]</label>
		                        				</th:block>
	                        				</div>
	                        			</div>                       			
	                        		</div>
                        		</div>
                        	</fieldset>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Add User">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
        
        
    </body>
</html>